<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="activities_sync_modal" tabindex="-1" aria-labelledby="activities_sync_modal--title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activities_sync_modal--title">Check for Recent Activities?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="activities_sync_modal--body">
                Check for recent Strava Activities and sync them to the database?
            </div>
            <div class="modal-footer">
                <div id="activities_sync_modal--yes_no_buttons_container">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="activities_sync_modal--no_button">No</button>
                    <button type="button" class="btn btn-primary" id="activities_sync_modal--yes_button">Yes</button>
                </div>
                <div id="activities_sync_modal--ok_button_container" style="display: none">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="activities_sync_modal--ok_button">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>