@using Microsoft.AspNetCore.Identity
@using ExerciseTrackingAnalytics.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var accessToken = ViewBag.AccessToken as string;
    var accessTokenExpiration = ViewBag.AccessTokenExpiration as string;
    var refreshToken = ViewBag.RefreshToken as string;
}

<div class="row mb-4">
    <div class="col text-center">
        <h1 class="display-4">Welcome to Exercise Tracking Analytics</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        @if (SignInManager.IsSignedIn(User))
        {
            <div>You are logged in using Strava.  Yay!</div>

            @if (accessToken != null)
            {
                <div>Access Token: @accessToken</div>
            }

            @if (accessTokenExpiration != null)
            {
                <div>Access Token Expires: @accessTokenExpiration</div>
            }

            @if (refreshToken != null)
            {
                <div>Refresh Token: @refreshToken</div>
            }

            <button id="sync_button">Sync Activities</button>
        }
        else
        {
            <div><a href="~/Identity/Account/Login">Log in</a> to access your Strava data and see the reporting, analytics and insights.</div>
        }
    </div>

    <div class="col">
        <img src="~/images/woman_running_river_city_happy.jpeg" alt="Woman Running" style="width: 100%" />
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        (function () {
            $('#sync_button').on('click', (e) => {
                e.preventDefault();
                console.log('Let\'s sync the activities!');

                fetch('/api/strava-activity-sync', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(() => {
                        console.log('Done!');
                    })
                    .catch((error) => {
                        console.log('Error syncing the activities:', error);
                    });
            });
        })();
    </script>
}
