@using Microsoft.AspNetCore.Identity
@using ExerciseTrackingAnalytics.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-4">
    <div class="col text-center">
        <h1 class="display-4">Welcome to Exercise Tracking Analytics</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        @if (SignInManager.IsSignedIn(User))
        {
            <div>You are logged in using Strava.  Yay!</div>
        }
        else
        {
            <div>Log in to access your Strava data and see the reporting, analytics and insights.</div>
        }
    </div>

    <div class="col">
        <img src="~/images/woman_running_river_city_happy.jpeg" alt="Woman Running" style="width: 100%" />
    </div>
</div>
