@using Microsoft.AspNetCore.Identity
@using ExerciseTrackingAnalytics.Models
@using ExerciseTrackingAnalytics.Models.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var date = ViewBag.Date as DateOnly?;
    date ??= DateOnly.FromDateTime(DateTime.Today);

    ViewData["Title"] = $"Food Diary - {date:D}";
}

<div class="row mb-4">
    <div class="col text-center">
        <h1 class="display-4">@date?.ToString("D")</h1>
    </div>
</div>
