html {
  font-size: 14px;
}

.dashboard-stat {
    flex: 1 0 50%;
    padding-top: 11px;
}
    .dashboard-stat:nth-of-type(1),
    .dashboard-stat:nth-of-type(3) {
        border-right: solid 1px #dee2e6;
    }

#dashboard_page--year_to_date_stats {
    margin-bottom: 77px;
}

.food-diary_page--date-header {
    text-align: center;
}

#food_diary_page--fwd_one_day_button {
    cursor: pointer;
}

#food_diary_page--fwd_one_day_button.disabled {
    pointer-events: none;
    color: #adb5bd; /* $gray-500 */
}

.footer-left-col,
.footer-right-col {
    text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
    #dashboard_page--year_to_date_stats {
        margin-bottom: 0;
    }

    .footer-left-col {
        text-align: left;
    }

    .footer-right-col {
        text-align: right;
    }

    .food-diary--date-header {
        text-align: center;
        width: 600px;
    }
}

@media (min-width: 1100px) {
    .dashboard-stat {
        flex: 1 1 20%;
        border-right: solid 1px #dee2e6;
    }
    .dashboard-stat:last-of-type {
        border-right: none;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}