@page
@model LoginModel
@using StravaAuthentication = ExerciseTrackingAnalytics.Security.Authentication.Strava.Constants
@using ExerciseTrackingAnalytics.Extensions

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            @{
                var stravaLoginProvider = @Model.ExternalLogins.HasAny() ?
                    Model.ExternalLogins.SingleOrDefault(x => x.Name == StravaAuthentication.AuthenticationScheme) :
                    null;

                if (stravaLoginProvider == null)
                {
                    <div>
                        <p>
                           ERROR: Strava Login Provider is not configured.
                        </p>
                    </div>
                }
                else
                {
                    <p>
                        To login to Exercise Tracking Analytics, click the button below to login to Strava and grant access to your Strava data
                        to <strong>Exercise Tracking Analytics</strong> when prompted to do so.
                    </p>

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                <input type="hidden" name="provider" value="@StravaAuthentication.AuthenticationScheme" />

                                <a href="javascript:void(0)" onclick="this.closest('form').submit(); return false;">
                                    <img src="~/images/btn_strava_connectwith_orange@2x.png" alt="Connect with Strava" width="200" />
                                </a>
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-6">
        <section>
            <img src="~/images/woman-running-city.jpeg" alt="Woman running in a city" style="width: 100%" />
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
